* {
  box-sizing: border-box;
  margin: 0;
  top: 0;
}

header {
  text-align: center;
  margin: 1.5em 0;
}

.sectionButton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.block {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.postSection {
  display: flex;
  justify-content: center;
  margin: 20px 25px;
  padding: 10px;
}

.postList {
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  width: 50%;
}

.postList li {
  padding: 10px;
}

.footer {
  text-align: center;
  margin: 10px;
}
