h1{
    font-family: sans-serif;
}

p {   font-weight: 600;
     font-size: 3em;
     font-style: italic;
     line-height: 2;
     text-align: justify;
     text-decoration: underline;
}

body{
 
 font-size: 16px;
}