        h1, p {
            text-align: center;
        }

        li:hover {
            background-color: aquamarine;
            list-style: none;
        }

        li:active {
            color: rgb(255, 0, 0);
            list-style: none;
        }